<% include head.ejs %>

<section class="section">
<div class="container">
    <h3 class="title">
    Post Route
    </h3>
    <a href="http://localhost:8001" class="button shadowed rounded bordered">Test POS</a>
</div>
</section>

<% include foot.ejs %>
